# Dependency directories
/node_modules/
/.vite/
/dist/

# Vite build
/build/

# dotenv files
.env
.env.local
.env.*.local

# IDE and Editor directories and files
.idea/
.vscode/
*.sublime-workspace

# Mac OS
.DS_Store

# Windows
Thumbs.db

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Package manager
.pnp.*
